<h1>
    0xAfrica DEX Contracts Analytics by Chain
</h1>
<h3>
    View DEX contract data on Stablecoin liquidity.
</h3>
<div class="horizontal-spacer"></div>
<div class="main">
    <p-card class="card-style">
        <ng-template pTemplate="header">
            {{chains[0].name}}
        </ng-template>
        <p-splitButton [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" label="Lookup Query" icon="pi pi-check" (onClick)="query()" [model]="queries" styleClass="p-button-outlined p-button-secondary mr-2 mb-2"></p-splitButton>
        <ng-template pTemplate="footer">
            
        </ng-template>
    </p-card>
    <div class="card-spacer"></div>
</div>
<div class="horizontal-spacer"></div>


<style>
    .main {
    width: 100%;
    display: flex;
    }

    .card-spacer{
        width: 30px;
    }

    .horizontal-spacer{
        height: 100px;
    }

    h1{
        text-align: center;
    }

    h3{
        text-align: center;
    }

    .card-style{
        box-shadow: 10px 10px purple;
        border: solid black 2px;
        height: 400px;
        width: 400px;
        text-align: center;
        padding: 0%;
    }

    img{
        height: 20px;
        width: 20px;
    }

    footer{
        text-align: center;
    }


</style>
